<ion-header>  
  <ion-toolbar color="default">  
    <ion-buttons slot="start">  
      <ion-menu-button color="light"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
        Deteksi Penyakit Gigi
    </ion-title>  
  </ion-toolbar>   
</ion-header>  
 
<ion-content fullscreen class="ion-padding">
    <div>
      <div class="ion-text-center">
        <h5><b>SISTEM PAKAR DIAGNOSA PENYAKIT GIGI</b></h5>
        <img src="assets/images/logo_default.png" style="width:150px;">
      </div>

      <div class="ion-text-justify">
        <h6>Sistem pakar merupakan sistem komputer yang berisi pengetahuan dari seorang pakar dan dapat digunakan untuk mengambil sebuah keputusan. 
        Dalam mendiagnosa penyakit gigi, dokter gigi membutuhan sistem pakar yang akan membantu atau menjadi asisten dalam menyelesaikan permasalahan. 
        Sistem pakar sebagai alat bantu digunakan untuk menirukan pakar manusia yang memiliki kemampuan khusus dan tidak dimiliki setiap orang.</h6>
      </div>

      <div class="ion-text-justify">
        <h6>Dengan perkembangan sistem pakar dapat mendiagnosa penyakit gigi berdasarkan gejala-gejala dan cara solusi beserta pencegahannya. 
          Sistem pakar Diagnosa Penyakit Gigi yang dapat membantu memudahkan pasien atau masyarakat sebagai user untuk mendapatkan informasi 
          dan sebelum datang di klinik terdekat untuk konsultasi dengan dokter gigi melalui perawat. 
          Bagi para ahli sistem pakar ini juga akan membantu aktivitasnya sebagai asisten yang sangat berpengalaman.</h6>
      </div>
    
    </div>
</ion-content>
