<ion-header>  
  <ion-toolbar color="default">  
    <ion-buttons slot="start">  
      <ion-menu-button color="light"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
       Deteksi Penyakit Gigi
    </ion-title>  
  </ion-toolbar>   
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div>
    <div class="ion-text-center">
      <h5><b>PAKAR</b></h5>
    </div>

    <!-- pakar -->
    <div id="konten-pakar" *ngIf="DataPakar">
      <div *ngFor="let data of DataPakar">
        <hr/>
              <div class="absolute-center">
                <img src="{{data.foto}}" style="width:250px;">
              </div>

              <div class="ion-text-center">
                <h5><b>{{data.nama}}</b></h5>
              </div>

              <div class="ion-text-justify">
                <p>Pekerjaan : {{data.pekerjaan}}</p>
              </div>

              <div class="ion-text-justify">
                <p>Alamat : {{data.alamat}}</p>
              </div>

      </div>
    </div>

  </div>
</ion-content>