<ion-header>  
  <ion-toolbar color="light">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      <img src="assets/images/logo_kecil_hitam.png" style="width:200px;"> 
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content ion-content fullscreen class="ion-padding">
    <div>
      <div class="ion-text-center">
        <h6>Selamat Datang di Sistem Pakar</h6>
        <br>
        <h4><b>DIAGNOSA PENYAKIT GIGI</b></h4>
        <img src="assets/images/logo_dokter.png" style="width:300px;">
      </div>
    
      <div class="ion-text-justify">
        <h6>Penyakit gigi merupakan salah satu penyakit yang sering dialami dan dianggap sepele oleh masyarakat Indonesia. 
          Penyakit gigi dapat menyerang mulai dari anak-anak sampai dewasa. Kurangnya pengetahuan dan terbatasnya sumber informasi 
          menyebabkan rendahnya kesadaran masyarakat tentang menjaga kesehatan kondisi gigi sangatlah penting.</h6>
      </div>

      <div class="ion-text-justify">
        <h6>Diharapkan dengan adanya aplikasi ini dapat memudahkan masyarakat tentang informasi penyakit gigi dan pencegahannya.</h6>
      </div>

      <div class="ion-text-justify">
        <h6>*Hubungi dokter gigi Anda untuk tindakan medis dan diagnosa lebih lanjut</h6>
      </div>

    </div>
</ion-content>
