<ion-header>  
  <ion-toolbar color="light">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      <img src="assets/images/logo_kecil_hitam.png" style="width:200px;"> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-content fullscreen class="ion-padding">
    <div class="ion-text-center">
      <h4><b>Konsultasi</b></h4>
    </div>

    <hr>
  
    <div class="ion-text-justify">
      <h6>Apakah gigi mengalami gejala Bau mulut tak sedap ?</h6>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-button expand="full" color="warning">Batal</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button expand="full" color="danger">Tidak</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button expand="full" color="success">Ya</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
